<div class="text-center" style="width:80%; margin:auto">
	<h1>Tutoring Calculator</h1>
	<br />
	<form>
		<label>Tutoring Hours Required:</label><br />
		<input type="number"/>
		<br /><br />
		<label>Cost per hour ($):</label><br />
		<input type="number" value="20" disabled/>
		<br /><br />
		<button type="button">Calculate</button>
		<br /><br />
		<label>Total cost:</label><br />
		<input type="number" readonly/>
	</form>
</div>

<script src="\js\site.js"></script>