<div class="text-center" style="width:80%; margin:auto">
    <h1 class="display-4">My Soccer Website</h1>
    <hr />
    <p>
        Hi, my name is Jordan, and I am a soccer player. I've been playing soccer since I was 3 years
        old. I was shy and reserved growing up as a kid, and so when my parents first signed me up for
        soccer, they didn't except much. When that first whistle blew, though, I was running around
        the field like crazy, having the time of my life. I've been playing soccer ever since, playing for Murray Max, Impact Soccer Club
        and Murray High School. I still play today on BYU intramurals teams and local indoor teams.
    </p>
    <img src="\img\high_school.jpg" style="height: 300px; width: auto;" />
    <p style="font-weight:bold">Me playing soccer in high school</p>
    <br />
    <p>
        Soccer has always been a family affair for me. My parents both grew up playing soccer, and
        all of my younger siblings have played soccer as well. We will often play together whenever
        we're hanging out. My uncle was also the person who introduced me to my favorite professional
        soccer team, Liverpool, who plays in the English Premier League. I've been a fan since I was 
        7 years old, and I've managed to recruit both of my younger brothers to be fans of the team
        as well.
    </p>
    <img src="\img\liverpool.jpg" style="height: 300px; width: auto;" />
    <p style="font-weight:bold">Some players on my favorite team, Liverpool</p>
    <br />
    <p>
        One of the most exciting developments in my soccer journey lately is that I am going to start
        coaching high school soccer next year. I went to my younger brother's soccer game a couple
        months ago, and after the game, his coach pulled me aside, asking me if I would be interested
        in coaching high school soccer. It turned out that he was going to become the new high school
        coach at Lehi high school, and he decided that I was someone that he wanted to have on his
        staff. So starting next year, I will be the freshman/sophomore team head coach. I'm excited to
        see how it goes!
    </p>

</div>
